.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(224, 216, 216);
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.details{
    width: 200px;
}